/*ignor the border*/
*{
    box-sizing: border-box;
}
header, footer {
    background-color: gray;
    width: 99.9999%;
    height: 300px;
    margin: 0px;
    border: solid 1px black;
    clear: both ;
}
p {
    background-color: gray;
    height: 300px;
    margin: 0px;
    border: solid 1px black;
    clear: both ;
}
.one {
    width: 99.9999%;
    float: left;
    
}
.two {
    width: 66.6666%;
    float: left;
    
}
.three {
    width: 33.3333%;
    float: left;
    
}