/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  /* modern clearfix: empty content and table display to clear floats */
  content: "";
  display: table;
  clear: both;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/



/******************************************
/* LAYOUT
/*******************************************/
header nav > * {
  float: left;
  width:10%;
  margin: 0 5%;
  list-style: none ;

}
header nav li {
  float: left;
  width:33% ;
}
main  section {
  height: 600px;
  width: 50%;
  float: left;
  
}
img {
  width: 50%;
}
main > section h1, main > section img {
margin-top: 20px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
