/* Please give the h1 some padding on three sides, margin on just one side, and a light purple background with light blue lettering */
h1 {
    padding: 0px 3px 6px 9px ;
    margin: 0px 0px 0px 9px;
    background-color: plum;
    color: lightblue;
}
/* Please give the h2 significant padding on the top and bottom, a dark green border on the top and bottom, and an orange background */
h2 {
    padding: 33px 0px 33px 0px;
    background-color: orange;
    border: solid 3px darkgreen;
}
/* Please give the section a thick blue border, height of 300px, and more the 400px of margin on the top */
section {
    height: 300px;
    margin: 400px 0px 0px 0px;
    border: solid 12px blue;
}
/* Please make the spans have thin yellow borders and equal padding / margin on all sides */
span {
    border: solid 3px yellow;
    margin: 12px;
    padding: 12px;
}